---
import "../styles/global.css";
import "../styles/katex.css";
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="generator" content={Astro.generator} />
<meta name="google" content="notranslate" />

<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" /> -->
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<meta name="color-scheme" content="dark" />

<ClientRouter />
