---
import Footer from "@/components/Footer.astro";
import Head from "@/components/Head.astro";
import Header from "@/components/Header.astro";
import { SITE } from "@/consts";
import { cn } from "@/lib/utils";

type Props = {
  title: string;
  desription: string;
  image?: string;
  class?: string;
};

const { title, desription, image, class: className } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={`${title} | ${SITE.TITLE}`} description={desription} />
  </head>
  <body>
    <div
      class="box-border flex h-fit min-h-screen flex-col gap-y-6 font-sans antialiased"
    >
      <Header />
      <main class={cn("flex-grow", className)}>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
